*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav{
    background-color: white;
    margin-bottom: 1%;
}   

.borde{
    color: white;
    background: rgba(12, 9, 59, 0.308);
    border-radius: 10px;
    
}

.container-form-login{
    margin-top: 8%;
    margin-bottom: 10%;
}
